<a href="https://colab.research.google.com/github/leenago/Projects/blob/master/KDX/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [7]:
%cd /content/gdrive/My Drive/bigdata/아경

/content/gdrive/My Drive/bigdata/아경

In [5]:
import pandas as pd

In [13]:
df = pd.read_csv('mcorp_edit.csv')
os = df.copy()

In [20]:
new_os = os.replace({'IOS':'Mobile','안드로이드':'Mobile','WINDOWS':'PC'})
new_os.tail()

             소비일자     소비업종 성별  연령대    OS유형     소비금액  소비건수
1146150  20200630  휴대폰악세서리  M   70      PC   243920     8
1146151  20200630  휴대폰악세서리  M   70  Mobile   241320    11
1146152  20200630  휴대폰악세서리  M   70  Mobile   139800     1
1146153  20200630  휴대폰악세서리  M   70      PC  1392071     4
1146154  20200630  휴대폰악세서리  M   70  Mobile    31380     2

In [35]:
os_pc = new_os[new_os.OS유형 == 'PC'].reset_index()
os_pc

          index      소비일자     소비업종 성별  연령대 OS유형      소비금액  소비건수
0             1  20190101   PC사무기기  F   10   PC     84000     1
1             5  20190101   PC사무기기  F   20   PC  11414514    60
2             9  20190101   PC사무기기  F   30   PC  19714978    75
3            13  20190101   PC사무기기  F   40   PC  32746965   110
4            17  20190101   PC사무기기  F   50   PC  29928081    83
...         ...       ...      ... ..  ...  ...       ...   ...
323245  1146139  20200630  휴대폰악세서리  M   40   PC  53565063   424
323246  1146143  20200630  휴대폰악세서리  M   50   PC  19067696   252
323247  1146147  20200630  휴대폰악세서리  M   60   PC   8144467    92
323248  1146150  20200630  휴대폰악세서리  M   70   PC    243920     8
323249  1146153  20200630  휴대폰악세서리  M   70   PC   1392071     4

[323250 rows x 8 columns]

In [34]:
os_mobile = new_os[new_os.OS유형 == 'Mobile'].reset_index()
os_mobile

          index      소비일자     소비업종 성별  연령대    OS유형      소비금액  소비건수
0             0  20190101   PC사무기기  F   10  Mobile    352443    13
1             2  20190101   PC사무기기  F   10  Mobile     80870     8
2             4  20190101   PC사무기기  F   20  Mobile  27714776   381
3             6  20190101   PC사무기기  F   20  Mobile  21223319   252
4             8  20190101   PC사무기기  F   30  Mobile  44723699   240
...         ...       ...      ... ..  ...     ...       ...   ...
624846  1146148  20200630  휴대폰악세서리  M   60  Mobile   3703646    67
624847  1146149  20200630  휴대폰악세서리  M   70  Mobile      8780     1
624848  1146151  20200630  휴대폰악세서리  M   70  Mobile    241320    11
624849  1146152  20200630  휴대폰악세서리  M   70  Mobile    139800     1
624850  1146154  20200630  휴대폰악세서리  M   70  Mobile     31380     2

[624851 rows x 8 columns]

In [36]:
os_pc['소비건수'].sum()

40031889

In [38]:
os_mobile['소비건수'].sum()

269816356

In [ ]:
os_mobile_2019 = os_mobile[os_mobile.]