<a href="https://colab.research.google.com/github/leenago/Projects/blob/master/Seoul_Grand_Park/200923_%EB%AF%B8%EC%84%B8%EB%A8%BC%EC%A7%80_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [320]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [321]:
day_list=[]
for year in range(2005,2020):
  month_list=[]
  for month in range(1,13):
    for day in range(1,31):
      date = str(year) +'-' + str(month) + '-' + str(day)
    month_list.append(date)
month_list

# url = "https://www.airkorea.or.kr/web/sidoAirInfo/sidoAirInfoDay30?itemCode=10007&ymd={end}&areaCode=031&tDate={start}&monthDay=30".format(end = end,start=start)

['2019-1-30',
 '2019-2-30',
 '2019-3-30',
 '2019-4-30',
 '2019-5-30',
 '2019-6-30',
 '2019-7-30',
 '2019-8-30',
 '2019-9-30',
 '2019-10-30',
 '2019-11-30',
 '2019-12-30']

## one page crawling 함수 만들기

In [322]:
def one_page_crawling(end, start):
  url = "https://www.airkorea.or.kr/web/sidoAirInfo/sidoAirInfoDay30?itemCode=10007&ymd={end}&areaCode=031&tDate={start}&monthDay=30".format(end = end,start=start)
  if (pd.read_html(url)):
    src = pd.read_html(url)[0]
    src_df = pd.DataFrame(src)
    location = src_df.set_index('지점')
    global gwacheon
    gwacheon = location.loc[['[경기 과천시] 과천동'],:]

  else:
    print('error: ', url)

  
  return gwacheon

#url 불러와서, pd.read_html로 데이터를 받고, 그 데이터를 DataFrame에 담아서, '지점'에서 '과천시 과천동' 데이터만 불러온 것

In [323]:
tw_july = one_page_crawling('2020-07-31', '2020-07-01')
tw_july

             2020-07-01 2020-07-02 2020-07-03  ... 2020-07-29 2020-07-30 2020-07-31
지점                                             ...
[경기 과천시] 과천동         24         60         36  ...         17         26         31

[1 rows x 31 columns]

In [324]:
five_aug = one_page_crawling('2006-02-31','2006-02-01') ; five_aug
#과천시 과천동 미세먼지 데이터는 2005년 08월 01일부터 있음!

             2006-02-01 2006-02-02  ... Unnamed: 30 Unnamed: 31
지점                                  ...
[경기 과천시] 과천동         26         42  ...           -           -

[1 rows x 31 columns]

- ymd 데이터를 어떻게 iterate하게 만들 수 있을까?

In [325]:
five_aug = one_page_crawling(end_date[8],start_date[8])
five_aug.columns

Index(['2005-09-01', '2005-09-02', '2005-09-03', '2005-09-04', '2005-09-05',
       '2005-09-06', '2005-09-07', '2005-09-08', '2005-09-09', '2005-09-10',
       '2005-09-11', '2005-09-12', '2005-09-13', '2005-09-14', '2005-09-15',
       '2005-09-16', '2005-09-17', '2005-09-18', '2005-09-19', '2005-09-20',
       '2005-09-21', '2005-09-22', '2005-09-23', '2005-09-24', '2005-09-25',
       '2005-09-26', '2005-09-27', '2005-09-28', '2005-09-29', '2005-09-30',
       'Unnamed: 31'],
      dtype='object')

### start date 만들기 - 월별로

In [326]:
year = []
for i in range(15):
  y = 2005+i 
  year.append(y)

year

[2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019]

In [327]:
import datetime
from datetime import date


start_date = []

for p in range(len(year)):
  d = date(year[p],2,28)
  changed_year = d.strftime('%Y') #d에서 year값만 빼오기
  changed_year_int = int(changed_year) 

  for i in range(12):
    d = date(changed_year_int, 1+i, 1)
    start_date.append(str(d))
  
print(type(start_date[1]))
print(start_date[1])
print(start_date)

<class 'str'>
2005-02-01
['2005-01-01', '2005-02-01', '2005-03-01', '2005-04-01', '2005-05-01', '2005-06-01', '2005-07-01', '2005-08-01', '2005-09-01', '2005-10-01', '2005-11-01', '2005-12-01', '2006-01-01', '2006-02-01', '2006-03-01', '2006-04-01', '2006-05-01', '2006-06-01', '2006-07-01', '2006-08-01', '2006-09-01', '2006-10-01', '2006-11-01', '2006-12-01', '2007-01-01', '2007-02-01', '2007-03-01', '2007-04-01', '2007-05-01', '2007-06-01', '2007-07-01', '2007-08-01', '2007-09-01', '2007-10-01', '2007-11-01', '2007-12-01', '2008-01-01', '2008-02-01', '2008-03-01', '2008-04-01', '2008-05-01', '2008-06-01', '2008-07-01', '2008-08-01', '2008-09-01', '2008-10-01', '2008-11-01', '2008-12-01', '2009-01-01', '2009-02-01', '2009-03-01', '2009-04-01', '2009-05-01', '2009-06-01', '2009-07-01', '2009-08-01', '2009-09-01', '2009-10-01', '2009-11-01', '2009-12-01', '2010-01-01', '2010-02-01', '2010-03-01', '2010-04-01', '2010-05-01', '2010-06-01', '2010-07-01', '2010-08-01', '2010-09-01', '2010-10-01', '2010-11-01', '2010-12-01', '2011-01-01', '2011-02-01', '2011-03-01', '2011-04-01', '2011-05-01', '2011-06-01', '2011-07-01', '2011-08-01', '2011-09-01', '2011-10-01', '2011-11-01', '2011-12-01', '2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01', '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01', '2012-09-01', '2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01', '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01', '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01', '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01', '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01', '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01', '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01', '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01']

### end_date 만들기

In [328]:
import calendar

type(calendar.monthrange(2006,2)[1])

int

In [329]:
end_date = []

for p in range(len(year)):
  d = date(year[p],1,31)
  changed_year = d.strftime('%Y')
  changed_year_int = int(changed_year) #year값 추출

  for i in range(12):
    p = date(changed_year_int,1+i,28)
    a = p.replace(day=(calendar.monthrange(changed_year_int, 1+i)[1])) #calendar.monthrange: 특정 연도, 월의 마지막 날을 알아내는 라이브러리 
    end_date.append(str(a))

print(end_date)

    # elif 1+i == (1 and 3 and 5 and 7 and 8 and 10 and 12):
    # b = d.replace(day=31)
    #  end_date.append(b)
    # else:
    #  if changed_year_int%4 == 0:
    #   c = d.replace(day=29)
    #   end_date.append(c)
    # else:
    #   e = d.replace(day=28)
    #     end_date.append(e)
      

    # end_date.append(str(d)) #이 모든건 필요가 없었다......

['2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31']

In [330]:
test = one_page_crawling(end_date[10], start_date[10])
test
#start_date와 end_date를 잘 추출했다는 것을 확인해볼 수 있다.

             2005-11-01 2005-11-02 2005-11-03  ... 2005-11-29 2005-11-30 Unnamed: 31
지점                                             ...
[경기 과천시] 과천동         67         92         74  ...         36         61           -

[1 rows x 31 columns]

## 여러페이지 "크롤링하는 함수 만들기

In [331]:
print(type(end_date[179]))
print(start_date[179])

<class 'str'>
2019-12-01

In [332]:
end_date.index('2005-10-31')

9

In [333]:
len(start_date)

180

In [334]:
print(len(start_date))
print(len(end_date))

180
180

In [373]:
#one_page_crawling 함수 코드

def several_page_crawling(start):
  url = "https://www.airkorea.or.kr/web/sidoAirInfo/sidoAirInfoDay30?itemCode=10007&ymd={end}&areaCode=031&tDate={start}&monthDay=30".format(end = start ,start=start)
  df = pd.DataFrame()
  new_df = several_page_crawling(start)
  df = pd.concat([df,new_df], axis=1)


  return df

### 원영님

In [ ]:
#one_page_crawling 함수 코드 변형

def another_page_crawling(ym):
  url = "https://www.airkorea.or.kr/web/sidoAirInfo/sidoAirInfoDay30?itemCode=10007&ymd={end}&areaCode=031&tDate={start}&monthDay=30".format(end = ym,start=ym)
  if (pd.read_html(url)):
    src = pd.read_html(url)[0]
    src_df = pd.DataFrame(src)
    location = src_df.set_index('지점')
    global gwacheon
    gwacheon = location.loc[['[경기 과천시] 과천동'],:]

  else:
    print('error: ', url)

  
  return gwacheon

In [376]:

df = several_page_crawling(start_date[10])
df

RecursionError: ignored

In [341]:
a.columns

Index(['2005-05-01', '2005-05-02', '2005-05-03', '2005-05-04', '2005-05-05',
       '2005-05-06', '2005-05-07', '2005-05-08', '2005-05-09', '2005-05-10',
       '2005-05-11', '2005-05-12', '2005-05-13', '2005-05-14', '2005-05-15',
       '2005-05-16', '2005-05-17', '2005-05-18', '2005-05-19', '2005-05-20',
       '2005-05-21', '2005-05-22', '2005-05-23', '2005-05-24', '2005-05-25',
       '2005-05-26', '2005-05-27', '2005-05-28', '2005-05-29', '2005-05-30',
       '2005-05-31'],
      dtype='object')